#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    max-height: 80%;
    min-height: 500px;

}
.filhosHome{
    width: 20%;
    background-color: #FFEFCD;
    border-radius: 5px;
    border: 1px solid black;
    min-width: 400px;
    min-height: 50px;
    font-size: 20px;
    font-family: 'JetBrains Mono', monospace;
    
}

.botao_avancar{
    display: flex;
    min-width: 100%;
    justify-content: flex-end;
    
    
}


#divAvancar{
    display: flex;
    min-width: 100%;
    justify-content: flex-end;
    
}

