.body{
    font-family: 'JetBrains Mono', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    max-width: 100%;
    max-height: fit-content;
    min-width: fit-content;
    min-height: fit-content;
    font-size: 24px;
}

.divRelatorio{
    display: flex;
    justify-content: flex-start;
}


#botaoHistoricoDeMedidas{
    background-color: #FFEFCD;
    border-radius: 5px;
    border: 1px solid black;
    min-width: 10%;
    min-height: 100%;
    font-family: 'JetBrains Mono', monospace;
    
}