#relatorioDeMedidas{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 10px;
    width: 100%;
    font-size: 100%;
    height: 80%;
}

table{
    border: 1px solid black;
}

#botaoAvancar{
    background-color: #FFEFCD;
    border-radius: 5px;
    border: 1px solid black;
    min-width: 10%;
    min-height: 100%;
    font-size: 20px;
    font-family: 'JetBrains Mono', monospace;
    
}

#botaoExportar{
    background-color: #FFEFCD;
    border-radius: 5px;
    border: 1px solid black;
    min-width: 10%;
    min-height: 5%;
    max-width: 10%;
    max-height: fit-content;
    font-size: 20px;
    font-family: 'JetBrains Mono', monospace;

    
}